@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,700;1,700&display=swap");

:root {
  --darkGreen: #9fa324;
  --liteGreen: #dee33e;
  --black: #000000;
  --white: #fff;
}

body {
  background-color: var(--liteGreen);
  font-family: "Outfit", sans-serif;
  height: 900px;
}

.headerSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 59px;
}

.h1 {
  font-size: 34px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  margin-top: 15px;
}

.wrapper {
  width: 552px;
  height: 454px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 4px 52px rgba(0, 0, 0, 0.15);
}

.mainBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 51px;
}

.containerForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainText__section {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.maintext {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin-top: 40px;
}

.appendText {
  width: 472px;
  height: 54px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 16px;
  color: #718096;
}

input {
  width: 472px;
  height: 56px;
  border-radius: 8px;
  padding: 16px;
  background-color: #fafafa;
}

input:focus {
  border: 1px solid #dee33e;
}

.input-error {
  border: 2px solid red;
}

.passwordFormOne {
  margin-top: 40px;
}

.passwordFormTwo {
  margin-top: 24px;
}

.passwordWrapper {
  position: relative;
}

.eyeImg {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}

.buttonSection {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.changePassword__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--liteGreen);
  gap: 12px;
  width: 472px;
  height: 56px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.changePassword__button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 20px; /* Общий размер кнопки */
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: 2px solid #cbd5e0;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  padding: 0 !important;
}

input[type="radio"]::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

input[type="radio"]:checked::before {
  background-color: #008ffd;
  transform: translate(-50%, -50%) scale(1);
}
